%br
%div.container.h1 EVENT TODAY
%br
.btn-group.container
  %a.btn.btn-primary.btn-lg{:"ng-href" => '#/performers'} Performers
  %a.btn.btn-primary.btn-lg Gallary
  %a.btn.btn-primary.btn-lg{:"ng-href" => '#/performers/new'} Register Now